<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/38267002-b55c-4215-bab0-786fcd1e7174/resourcegroups/robinmuff/providers/Microsoft.ContainerRegistry/registries/robinmuff</ContainerResourceId>
    <ContainerResourceName>robinmuff</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>robinmuff.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://backend20211221132013.scm.azurewebsites.net/</SCMUrl>
    <ApiResourceId>/subscriptions/38267002-b55c-4215-bab0-786fcd1e7174/resourceGroups/robinmuff/providers/Microsoft.ApiManagement/service/robinmuff/apis/robinmuff</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/38267002-b55c-4215-bab0-786fcd1e7174/resourceGroups/robinmuff/providers/Microsoft.Web/sites/Backend20211221132013</ResourceId>
    <ResourceGroup>robinmuff</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backend20211221132013.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c9d4ef71-a382-4b5d-add6-632076fc1537</ProjectGuid>
  </PropertyGroup>
</Project>